body {
  background-color: black;
}
header {
  text-align: center;
}
header h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}
a {
  color: aquamarine;
  font-size: 16px;
}
.support {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
}
.support h2 {
  font-family: Verdana;
  font-size: 42px;
  font-weight: 300;
}
.support p {
  font-family: verdana;
  font-size: 21px;
  color: gray;
}
.text-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-top: 5vh;
}
.text-section h2 {
  font-family: Verdana;
  font-size: 42px;
  font-weight: 300;
}
footer p {
  color: gray;
  text-align: right;
}
